* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #998965;
}

.wrapper {
    min-width: 1400px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.canvas-wrapper {
    flex-grow: 1;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-canvas {
    width: 700px;
    height: 600px;
    image-rendering: pixelated;
    background-color: #ffffff; 
    border:1px solid #ccc
}

.canvas-information {
    margin-top: 15px;
    font-size: 12px;
    color: #FFD700;
}

.canvas-information__size,
 .canvas-information__cursor-position {
    color: #746200;
}
